<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.StaffMapper">

    <resultMap id="StaffResultMap" type="com.library.entity.Staff">
        <id column="id" property="id"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_code" property="staffCode"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="department_id" property="departmentId"/>
        <result column="position" property="position"/>
        <result column="gender" property="gender"/>
        <result column="entry_date" property="entryDate"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="department_name" property="departmentName"/>
        <result column="dept_code" property="deptCode"/>
    </resultMap>

    <select id="selectStaffPage" resultMap="StaffResultMap">
        SELECT
            s.id,
            s.staff_name,
            s.staff_code,
            s.username,
            s.password,
            s.phone,
            s.email,
            s.avatar,
            s.department_id,
            s.position,
            s.gender,
            s.entry_date,
            s.status,
            s.create_time,
            s.update_time,
            d.dept_name AS department_name,
            d.dept_code
        FROM sys_staff s
        LEFT JOIN sys_department d ON s.department_id = d.id AND d.deleted = 0
        WHERE s.deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (s.staff_name LIKE CONCAT('%', #{keyword}, '%')
                 OR s.staff_code LIKE CONCAT('%', #{keyword}, '%')
                 OR s.username LIKE CONCAT('%', #{keyword}, '%')
                 OR s.phone LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="departmentId != null">
            AND s.department_id = #{departmentId}
        </if>
        ORDER BY s.create_time DESC
    </select>

</mapper>
